.skill-card{
    width: 12.5rem;
    max-width: 200px;
    padding: 1rem;
    text-align: center;
    /* border: 1px solid black; */
    border-radius: 1rem;
    background-image: linear-gradient(#000,#161515d3);
    color: #FFF;
    margin: 1rem 1.5rem;
    box-shadow: 2px 2px 2px #000;
}

.skill-card img{
    display: inline-block;
}