*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition:  all ease-in;	
}

@media (max-width: 420px){
  :root{
      font-size: 0.75rem;
  }
}

@media (max-width: 300px){
  :root{
    font-size: 0.5rem;
  }
}